@charset "UTF-8";
#container {
	height: 700px;
	width: 900px;
	float: left;
}
#container #logo {
	height: 100px;
	width: 800px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
#container #navbar {
	width: 150px;
	margin-left: 40px;
	float: left;
}
.navtxthead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #148AB6;
}
.navtxtsub {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #231F20;
}
#container #workexamp {
	width: 550px;
	float: left;
	margin-left: 50px;
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
#container #img1 {
	position: absolute;
	visibility: visible;
	left: 240px;
	top: 500px;
}
#container #img2 {
	top: 892px;
	position: absolute;
	visibility: visible;
	left: 240px;
}
#container #img3 {
	position: absolute;
	visibility: visible;
	left: 240px;
	top: 1284px;
}
#container #img4 {
	position: absolute;
	visibility: visible;
	left: 240px;
	top: 1676px;
}
